<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- link CSS -->
    <link rel="stylesheet" href="../public/css/QuanLySanPham.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="row" style="background:#9932CC;opacity: 0.7">
                    <a style="margin-left: 100px;font-size: 30px;color: white;">BRCZE5</a>
                </div>
            </div>
            <div class="col-sm-9">
                <a style="font-size: 20px;color: black;float: left;margin-top: 10px;margin-right: 50px;">Quản Lý Hóa Đơn</a>


                <a style="float: left;margin-left: 200px;margin-top: 10px;">Tài Khoản</a>

                <a style="float: left;margin-top: 10px;margin-left: 30px;">Đăng Xuất</a>
            </div>
        </div>
        <div class="row" style="height: 680px;">
            <div class="col-sm-3 border" style="background:#9932CC;opacity: 0.7;">
                <button type="button" class="btn">
                    <i class='far fa-user-circle'></i>
                    <a style="color: white;"> Hồ Sơ Admin</a>
                </button>
                <button type="button" class="btn">
                    <i class='fab fa-bity'></i>
                    <a style="color: white;">Quản Lý Người Dùng</a>
                </button>
                <button type="button" class="btn">
                    <i class='fas fa-book'></i>
                    <a style="color: white;">Quản Lý Sản Phẩm</a>
                </button>
                <button type="button" class="btn">
                    <i class="fa fa-file-text-o"></i>
                    <a style="color: white;">Quản Lý Hóa Đơn</a>
                </button>
                <button type="button" class="btn">
                    <i class='fas fa-atom'></i>
                    <a style="color: white;">Quản Lý Loại Sản Phẩm</a>
                </button>
                <button type="button" class="btn">
                    <i class='fas fa-map-marker-alt'></i>
                    <a style="color: white;">Liên Hệ</a>
                </button>
                <button type="button" class="btn">
                    <i class="material-icons">notifications_none</i>
                    <a style="color: white;">NOTIFICATIONS</a>
                </button>
                <button type="button" class="btn" style="margin-top: 50px;height: 50px;width: 300px;">
                    <i class="material-icons" style="font-size:26px;color: white;">cloud</i>
                    <a style="color: white;">UPGRADETO PRO</a>
                </button>
            </div>
            <div class="col-sm-9 border"></div>
        </div>
    </div>
    </div>

    </div>
</body>

</html>