* {
    padding: 0px;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-image: url(../asset/image/background.png);
}

.col-sm-6 {
    height: 750px;
}

.text-dangki {
    height: 50px;
    width: 300px;
    font-size: 50px;
    font-family: myfont;
    color: white;
    text-align: center;
    justify-items: center;
    margin-top: 40px;
    margin-left: 150px;
}

.footer {
    height: 300px;
    width: 700px;
    font-size: 80px;
    font-family: myfont;
    color: white;
    margin-top: 100px;
}

.form-login {
    width: 400px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.1);
    border-style: double;
    border-color: white;
    margin-left: 100px;
    margin-top: 50px;
}

.login {
    margin: 30px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    color: #FFFFFF;
    text-align: center;
    width: 150px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 100px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

@font-face {
    font-family: myfont;
    src: url(../asset/font/IMPRISHA.TTF);
}